<div ng-controller='dashboardController'>
<!--    <a href="#/">Bucket Lists</a>
    <a href="#/dashboard">Home</a>
    <a href="#/logout">Logout</a>
    <hr>-->
    <hr>
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a class="nav-link active" href="#/dashboard">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/logout">Logout</a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">Bucket Lists</h3>
    </div>
    <hr>



    <h3>Welcome, {{current_user.name}}!</h3>
    <h4>Life is too short for regrets. What do <em>you</em> want to do!?</h4>
    <form ng-submit='addList(list)'>

        <strong>Difficulty: </strong><input type="text" ng-model='list.title'> <strong>Description: </strong><input type="text" ng-model='list.description'>
        <select ng-model='list.tagged' style="margin-left:10px;">
            <option value="" selected>Tag your friends!</option>
            <option ng-repeat="user in users" ng-show="user.name!=current_user.name" placeholder="Tag your friends" value={{user._id}}>{{user.name}}</option>
        </select>
        <input type="hidden" ng-model='current_user._id' style="margin-left:10px;">
        <input class="btn btn-primary" type="submit" name="submit" value="Add to list" style="margin-left:10px;">
    </form>
    <div ng-controller='dashboardController'>
        <p>{{list.errors.title.message}}</p>
        <p>{{list.errors.description.message}}</p>
    </div>


<div class="jumbotron">
<h4>Together, lets....</h4>
    <p ng-repeat="list in lists" ng-show="list._creator._id === current_user._id || list.tagged._id === current_user._id"> <input ng-click="checkItem(list)" type="checkbox" ng-checked="list.status=='1'"> {{list._creator.name}} || {{list.title}} - {{list.description}} with {{list.tagged.name}}...-{{list.createdAt | date:'MMM. dd, yyyy'}}...{{list.status}}</p>
</div><!--End jumbotron-->

<div class="jumbotron">
    <h4>List of other users (Click to view profile):</h4>
    <p ng-repeat="user in users" ng-show="current_user._id != user._id"><a href="#/show/{{user._id}}">{{user.name}}</a></p>
</div><!--end jumbotron-->
</div>
